.col-settings-popup {
    width: 330px;
    border: 3px solid black;
    padding: 10px;
    background-color: lightgray;
    color: black;
    text-align: left;

    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 200;

    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.col-settings-popup table,
.col-settings-popup tr,
.col-settings-popup td
{
    padding: 0;
    margin: 0;
    border: none;
}

.col-settings-popup table,
.col-settings-popup table tr
{
    max-width: 327px;
}

.col-settings-popup table select
{
    width: 100%;
}

.col-settings-popup table input
{
    width: 97%;
    text-align: left;
}

.col-settings-row-clip {
    width: 327px;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.col-settings-toolbar {
    line-height: 25px;
    height: 25px;
    font-weight: bolder;
    border-bottom: black solid 2px;
    background-color: darkgray;
    margin-top: -7px;
    /*padding-top: 5px;*/

}

#col-type-url-preview a {
    font-size: 0.7em;
    text-decoration: none;
    color: black;
}

.col-settings-toolbar i {
    cursor: pointer;
}
.col-settings-popup table span
{
    /*line-height: 25px;*/
    /*height: 25px;*/
    /*font-size: 0.8em;*/
}

.col-settings-popup-heading {
    height: 30px;
    line-height: 30px;
    background-color: black;
    color: white;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 5px;
}

.col-settings-row td.nav-settings-right {
    text-align: right;
}

.big-icon {
    font-size: 3.0em;
    padding: 10px;
}

.col-settings-centered {
    text-align: center;
}

.col-settings-right {
    min-width: 100px;
}

.col-settings-right select {
    width: 100%
}

.col-settings-fill {
    width: 100%;
}

.col-settings-button-row {
    padding-top: 15px;
    height: 40px;
    line-height: 40px;
}

.col-settings-button-row-filler {
    height: 40px;
    line-height: 40px;
}

.col-settings-row input {
    /*font-size: 1.1em;*/
    padding: 4px 2px;
    text-align: right;
    width: 110px;
}

.col-settings-row select {
    padding: 4px 2px;
}

.col-settings-row option {
    font-size: 1.1em;
}

.col-settings-button {
    background-color: cornflowerblue;
    width: 120px;
}

.col-settings-button-bottom-row, /*.nav-settings-button-row,*/ .nav-settings-button {
    color: white;
    padding: 0;
    border-radius: 10px;
    text-align: center;

    height: 34px;
    line-height: 34px;
}

.col-settings-button-bottom-row .nav-settings-button {
    cursor: pointer;
    width: 90px;
    margin-left: 3px;
    margin-right: 3px;
}

.col-settings-instructions {
    padding-top: 7px;
    font-size: 0.9em;
    font-weight: normal;
    font-style: italic;
    line-height: 0.8em;
    text-align: center;
}

.col-settings-button.yellow-button {
    background-color: #F9D978;
    border: 1px solid black;
    color: black;
}

.col-settings-button.green-button {
    background-color: #9DC284;
    border: 1px solid black;
    color: white;
}

.col-settings-button.blue-button {
    background-color: cornflowerblue;
    border: 1px solid black;
    color: white;
}

.col-settings-button.gray-button {
    background-color: darkgray;
    border: 1px solid black;
    color: white;
}

.col-settings-button.red-button {
    background-color: #D16D6A;
    border: 1px solid black;
    color: black;
}

.col-button {
    background-color: transparent;
    border-radius: 7px;
    position: relative;
    margin: 0;
    padding: 0 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

.col-settings-toolbar .col-button {
    padding: 0 15px;
}

.col-settings-button-info {
    background-color: transparent;
    color: black;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;

    height: 34px;
    line-height: 34px;

    display: inline-block;
    cursor: pointer;

    width: 30%;
    /*clear-after: both;*/
}

.col-settings-right {
    /*content-align: right;*/
}

.col-float-right {
    float: right;
}

.col-float-clear {
    clear-after: both;
}

.col-settings-button-bottom-row {
    padding-top: 10px;
}

.col-settings-close-button {
    color: white;
    margin-right: 10px;
    float: right;
    clear-after: both;
    cursor: pointer;
}

.col-settings-row-short {
    font-size: 0.5em;
}



