.app {
  text-align: center;
}

.app-link {
  color: #61dafb;
}

.page-background {
  /* Based on https://stackoverflow.com/a/40511537/75696 */
  background: url('background-light.png') no-repeat center center;
  background-size: 100% auto;
  height: 100vh;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

html[data-theme="dark"] .page-background {
  background: url('background-dark.png') no-repeat center center;
}

html[data-theme="light"] .page-background {
  background: url('background-light.png') no-repeat center center;
}
