.col-content {
    min-height: calc(100vh - 105px);
    line-height: calc(100vh - 105px);
    width: 294px;
    background-color: white;
    color: black;
    font-size: 2.5em;
    font-weight: bolder;
    margin: 3px;
    text-align: center;
    vertical-align: middle;
    border: 3px solid black;
    border-top: none;
    margin-top: 0;
}

.col-content-active {
    border-color: cornflowerblue;
}